[submodule "frontend"]
	path = frontend
	url = https://github.com/RIfkiND/keuangan_mahasiswa_app_frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/RIfkiND/keuangan_mahasiswa_app_backend.git